<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Visualization type options</h5>
    <div class="gf-form">
      <label class="gf-form-label width-14">Visualization</label>
      <div class="gf-form-select-wrapper max-width-12">
        <select class="input-medium gf-form-input" ng-model="ctrl.panel.mode" ng-options="t for t in ctrl.modeTypes" ng-change="ctrl.addLayer()"></select>
      </div>
    </div>

    <div class="gf-form-group" ng-if="ctrl.panel.mode===ctrl.modeTypes[0]">
      <div class="gf-form">
        <label class="gf-form-label width-14">Color range</label>
        <span class="max-width-12">
          <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.hexbin.colorRange[0]" ng-change="ctrl.addLayer()" ></spectrum-picker>
        </span>
        <span class="max-width-12">
          <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.hexbin.colorRange[1]" ng-change="ctrl.addLayer()" ></spectrum-picker>
        </span>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-14">Radius range</label>
        <span class="max-width-12">
          <input class="gf-form-input" ng-model="ctrl.panel.hexbin.radiusRange[0]" ng-change="ctrl.addLayer()" />
        </span>
        <span class="max-width-12">
          <input class="gf-form-input" ng-model="ctrl.panel.hexbin.radiusRange[1]" ng-change="ctrl.addLayer()" />
        </span>
      </div>
    </div>

    <div class="gf-form-group" ng-if="ctrl.panel.mode===ctrl.modeTypes[1]">
      <!-- Options for heatmap -->
    </div>

    <div class="gf-form-group" ng-if="ctrl.panel.mode===ctrl.modeTypes[2]">
      <div class="gf-form">
        <label class="gf-form-label width-14">
          Delay
          <info-popover mode="right-normal" position="top center">
            The delay of the animation flux
          </info-popover>
        </label>
        <span class="max-width-12">
          <input class="gf-form-input" ng-model="ctrl.panel.antpath.delay" ng-change="ctrl.addLayer()" />
        </span>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-14">
          Dash array
          <info-popover mode="right-normal" position="top center">
            The size of the animated dashes
          </info-popover>
        </label>
        <span class="max-width-12">
          <input class="gf-form-input" ng-model="ctrl.panel.antpath.dashArray[0]" ng-change="ctrl.addLayer()" />
        </span>
        <span class="max-width-12">
          <input class="gf-form-input" ng-model="ctrl.panel.antpath.dashArray[1]" ng-change="ctrl.addLayer()" />
        </span>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-14">
          Weight
          <info-popover mode="right-normal" position="top center">
            The weight of the path
          </info-popover>
        </label>
        <span class="max-width-12">
          <input class="gf-form-input" ng-model="ctrl.panel.antpath.weight" ng-change="ctrl.addLayer()" />
        </span>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-14">
          Color
          <info-popover mode="right-normal" position="top center">
            The color of the path
          </info-popover>
        </label>
        <span class="max-width-12">
          <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.antpath.color" ng-change="ctrl.addLayer()" ></spectrum-picker>
        </span>
        <label class="gf-form-label width-14">
          Pulse color
          <info-popover mode="right-normal" position="top center">
            Adds a color to the dashed flux
          </info-popover>
        </label>
        <span class="max-width-12">
          <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.antpath.pulseColor" ng-change="ctrl.addLayer()" ></spectrum-picker>
        </span>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-14">
          Paused
          <info-popover mode="right-normal" position="top center">
            Toggle stop/start of the animation
          </info-popover>
        </label>
        <gf-form-switch class="gf-form" title="Paused" checked="ctrl.panel.antpath.paused" on-change="ctrl.addLayer()"></gf-form-switch>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-14">
          Reverse
          <info-popover mode="right-normal" position="top center">
            Reverses the animation flow
          </info-popover>
        </label>
        <gf-form-switch class="gf-form" title="Reverse" checked="ctrl.panel.antpath.reverse" on-change="ctrl.addLayer()"></gf-form-switch>
      </div>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Map options</h5>
    <div class="gf-form">
      <label class="gf-form-label width-14">
        Center of map (lat, lon)
        <a class="pointer pull-right gf-form-help-icon" ng-click="ctrl.setMapCenter()" title="click to get center of map">
          <i class="fa fa-map-marker"></i>
        </a>
      </label>
      <span class="max-width-12">
        <input class="gf-form-input" ng-model="ctrl.panel.mapOptions.latlon[0]" ng-change="ctrl.centerMap()" />
      </span>
      <span class="max-width-12">
        <input class="gf-form-input" ng-model="ctrl.panel.mapOptions.latlon[1]" ng-change="ctrl.centerMap()" />
      </span>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-14">
        Start zoom
        <a class="pointer pull-right gf-form-help-icon" ng-click="ctrl.setStartZoom()" title="click to get zoom level from map">
          <i class="fa fa-search"></i>
        </a>
      </label>
      <span class="max-width-12">
        <input class="gf-form-input" ng-model="ctrl.panel.mapOptions.zoom" ng-change="ctrl.centerMap()" />
      </span>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-14">
        Max zoom
        <info-popover mode="right-normal" position="top center">
          Max zoom can't be higher than 19.
        </info-popover>
      </label>
      <span class="max-width-12">
        <input class="gf-form-input" ng-model="ctrl.panel.mapOptions.maxZoom" ng-change="ctrl.maxZoomChanged()" />
      </span>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-14">
        Use min and max coords
        <info-popover mode="right-normal" position="top center">
          Adds $maxLat, $minLat, $maxLon and $minLon with map bounds as grafana variables. (Requires a movement of the map for this to take effect).
        </info-popover>
      </label>
      <gf-form-switch class="gf-form" title="minMaxCoords" checked="ctrl.panel.mapOptions.minMaxCoords"></gf-form-switch>
    </div>
    <div class="gf-form" ng-if="ctrl.panel.mapOptions.minMaxCoords">
      <label class="gf-form-label width-14">
        Update map on move
        <info-popover mode="right-normal" position="top center">
          Adds a refresh event to movement of the map. This is not recommended for slow/large databases.
        </info-popover>
      </label>
      <gf-form-switch class="gf-form" title="updateOnMove" checked="ctrl.panel.mapOptions.updateOnMove"></gf-form-switch>
    </div>
  </div>
</div>
